# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
env/
venv/

# PyInstaller build output
build/
dist/
*.spec
*.toc
*.pkg
*.pyz
*.zip
*.log

# macOS
.DS_Store
*.app

# IDE / Editor
.vscode/
.idea/

# Local app data (DO NOT commit)
settings.json
secure_db.json
secret.key
server_log.txt

# Misc
*.bak
